.name-tag-outer {
  width: auto;
  height: 40px;
  border-radius: 4px;
  font-family: sans-serif;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 4px;
}

.name-tag-outer.self {
  pointer-events: none;
}

.name-tag-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  height: 100%;
  border-radius: 4px;
  font-size: .75rem;
  font-family: sans-serif;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 0 10px 1px 10px;
  text-transform: uppercase;
}


.name-tag-inner button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  border: 0;
  font-size: 1rem;
  background-color: #2ecc71;
  cursor: pointer;
  margin-left: 10px;
}

.name-tag-inner button:last-child {
  margin-left: 5px;
  background-color: #16a085;
}

.name-tag-inner button i {
  color: #c9f9ef;
  font-size: .7rem;
  position: relative;
  top: 1px;
}

.name-tag-inner button:last-child i {
  /*top: -.5px;*/
}
